h1,
h2 {
  text-align: center;
}

.options {
  display: flex;
  justify-content: center;
  align-items: center;
}
.options h2 {
  font-size: 8rem;
  margin: 0;
  transition: all 0.1s linear;
  cursor: pointer;
}

.options h2:hover {
  transform: scale(1.5) rotate(15deg);
}
